<ion-view view-title="Add">
    <ion-header-bar class="bar-stable">
        <h1 class="title">Add</h1>
        <div class="buttons">
            <a href="#/menu" class="button button-assertive button-clear  icon-right ion-android-close"></a>
        </div>
    </ion-header-bar>
    <ion-content padding="false" scroll="false" class="has-header">
        <ion-list>
            <label class="item item-select">
                <span class="input-label">Class</span>
                <select></select>
            </label>
            <label class="item item-select">
                <span class="input-label">Subject</span>
                <select></select>
            </label>
            <label class="item item-input">
                <span class="input-label">Homework</span><textarea placeholder=""> </textarea>
            </label>
        </ion-list>
        <a href="#/menu" class="button button-energized button-block ">Add</a>
        <button class="button button-positive button-clear button-block ">Reset</button>
    </ion-content>
</ion-view>
