<ion-view hide-nav-bar="true">
    <ion-pane>
    <ion-header-bar class="bar-stable" >
		<button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
		  <div class="h1 title">Add Result</div>
		<button class="button button-icon icon ion-navicon" menu-toggle="right"></button>
        <!--h1 class="title">Add Result</h1>
            <a href="#/app/dashboard" class="button button-assertive button-clear  icon-right ion-android-close"></a-->
    </ion-header-bar>
      <ion-content>
      <ion-list>        
      </ion-list>
      
    </ion-content>
    
    </ion-pane>
</ion-view>
