<ion-view hide-nav-bar="true">
     <ion-pane>
      <ion-header-bar class="bar-dark" >
	      <button class="button-icon ion-chevron-left button-clear" ng-click="goBack()"></button>
		  <div class="h1 title">Circular Details</div>
	  </ion-header-bar>
 <ion-content scroll="false" ng-controller="circular">
   <!-- <div class="containerAttendance"> -->
	 <div class="col text-center">
	 <ion-list>
       <!-- <div ng-repeat="group in classInfo">
          <ion-item class="item-stable item-icon-right"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              
           
             {{group.name}}  &nbsp; <a class=""> <b>{{group.selectedItem}}</b> </a>
             <i class="icon" ng-class="isGroupShown(group) ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></i>
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)"
                    ng-click="selectItem(group,item)">
            {{item}}
          </ion-item>
          </div> -->
		  <div class="list card">
			<div class="item item-image" >
				<img src="img/circular.jpg">
			</div>
			<a class="item item-Event-left positive" href="#">
			<!-- <i class="icon ion-music-note"></i> -->
				<b> Event </b> <br> July 17 <br>
				Parent - Teacher Conference
			</a>
		</div>
	
		<!--<div class="card">
			<div class="item item-text-wrap">
				This is a basic Card which contains an item that has wrapping text.
			</div>
		</div> -->
          <input class="button button button-balanced"  ng-click="" value="{{model}}">
          </input> <br>
		  <button class="button button-clear button-positive"  ng-click="changeCircularStatus()">
            change status
          </button>
		  
      </ion-list>
	<div ng-hide="ISCHANGESTATUSCLCKED" class="ng-hide">
	     <ion-list>
      <ion-item ng-repeat="MeetingInfo in CircularStatus" ng-click="updateCircularStatus(MeetingInfo)">
      <!-- {{MeetingInfo.Name}}</br>-->
		   <b class="dark">{{MeetingInfo.name}} </b>
      </ion-item>
	  
    </ion-list>
	</div>
	  
  </ion-content>
</ion-view>
