<ion-view hide-nav-bar="true">
     <ion-pane>
      <ion-header-bar class="bar-dark">
	    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">Home</h1>
      </ion-header-bar>
        <ion-content padding="false" scroll="false" class="has-header">
            <h3 class="padding">Welcome John!</h3>
            <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <ion-list>
                <ion-item href="#/modal">Fee last date 28/10/2015</ion-item>
                <ion-item>New homework</ion-item>
                <ion-item>Exam scheduled next week</ion-item>
            </ion-list>
        </ion-content>
</ion-view>
