<style>  

  .pane, .view {
      background-color: #fff;   
  }

  </style>


<ion-view hide-nav-bar="false">
  <ion-pane class="dashboardBG">
    <ion-header-bar class="bar-clear" style="background:transparent">

    </ion-header-bar>

        <ion-content padding="false" scroll="false" class="has-header" add-animation>

        <div class="profileImageBG">

        <div class="col text-center">
        <div class="row row-center">
        <div class="col">

        <a href="#/login" class="icon-circle animated slideInLeft" style="background:#FF8106">
          <i class="ion-android-notifications"></i>
        </a>
        </div>

        <img class="profileImage animated zoomInDown" src="img/parent.jpg"></img>
        <div class="col">
        <a class="icon-circle animated slideInRight" style="background:#62CF38" ng-click="goTo('CHAT')">
          <i class="ion-chatbubbles"></i>
        </a>
        </div>
        </div>
        </div>

              <div class="col text-center">
                  <h3 class="animated slideInUp"><b>WELCOME</b> <br>{{username || "User!"}}</br></h3>
              </div>

        <!--    <ion-list zooming="false" style="width: 100%; height: 500px ;" has-bouncing="false">
                <ion-item class="item-icon-right animated slideInUp" href="#/modal">Fee last date 28/10/2015
                <i class="icon ion-android-alert assertive"></i>
                </ion-item>
                <ion-item class="item-icon-right animated slideInUp">New homework
                <i class="icon ion-android-done-all balanced"></i>
                </ion-item>
                <ion-item class="animated slideInUp">Exam scheduled next week
                </ion-item>
            </ion-list> -->

            <div class="row row-center">
              <div class="col col-offset-10">
                <a  class="icon-circle-large" style="background:#21D3D7" ng-click="showPopup('ATTENDANCE')">
                    <i class="ion-person-add"></i>
                  </a>
                <h5>Attendance</h5>
              </div>
              <div class="col">
                <a class="icon-circle-large" style="background:#FFAA01" ng-click="goTo('HOMEWORK')">
                    <i class="ion-clipboard"></i>
                    </a>
                    <h5>Home work</h5>
               </div>
              <div class="col">
                <a class="icon-circle-large" style="background:#61D397" ng-click="showPopup('RESULTS')">
                    <i class="ion-podium"></i>
                    </a>
                <h5>Exam results</h5>
              </div>

            </div>

            <div class="row row-center" style="margin-top:10%">
              <div class="col col-offset-10">
                <a class="icon-circle-large" style="background:#CCB14A" ng-click="showPopup('FEEDBACK')">
                    <i class="ion-chatbox-working"></i>
                    </a>
                    <h5>Feedback</h5>
      </div>
              <div class="col">
                    <a class="icon-circle-large" style="background:#FE8F84" ng-click="goTo('TIME_TABLE')">
                    <i class="ion-clock"></i>
                    </a>
                    <h5>Time Table</h5>
      </div>
              <div class="col">
                <a class="icon-circle-large" style="background:#1877AF" ng-click="goTo('CIRCULAR')">
                    <i class="ion-earth"></i>
                    </a>
                    <h5>Circulars</h5>
      </div>

            </div>
</div>
        </ion-content>
 </ion-pane>
</ion-view>

<script id="homeworkpopup.html" type="text/ng-template">
  <style>
    .popupDetails.popup-container .popup{
      background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0.9) 10%,rgba(255, 255, 255, 0.9) 78%, {{selectedModule.bgColor}} 78%) !important; /* Chrome 10+, Saf5.1+ */
      background:    -moz-linear-gradient(180deg, rgba(255, 255, 255, 0.9) 10%, rgba(255, 255, 255, 0.9) 78%,{{selectedModule.bgColor}} 78%) !important; /* FF3.6+ */
      background:     -ms-linear-gradient(180deg, rgba(255, 255, 255, 0.9) 10%,rgba(255, 255, 255, 0.9) 78%, {{selectedModule.bgColor}} 78%) !important; /* IE10 */
      background:      -o-linear-gradient(180deg, rgba(255, 255, 255, 0.9) 10%,rgba(255, 255, 255, 0.9) 78%, {{selectedModule.bgColor}} 78%) !important; /* Opera 11.10+ */
      background:         linear-gradient(180deg, rgba(255, 255, 255, 0.9) 10%,rgba(255, 255, 255, 0.9) 78%, {{selectedModule.bgColor}} 78%) !important; /* W3C */

    }
  </style>

  <label class="item item-input item-select">
      <div class="input-label">
        Select Class
      </div>
      <select ng-model="selectedDetails.class" ng-change="onSelectClass()">
        <option ng-repeat="classInfo in userDetails.classesInfo" >{{classInfo.class}}</option>
      </select>
  </label>

  <div class="row">
      <div ng-repeat="section in selectedClassInfo.sections" class="col">
          <ion-radio ng-model="selectedDetails.section">{{section}}</ion-radio>
       </div>
  </div>
  <label class="item item-input item-select">
      <div class="input-label">
        Select Subject
      </div>
      <select ng-model="selectedDetails.subject">
        <option ng-repeat="subject in selectedClassInfo.subjects">{{subject}}</option>
      </select>
  </label>
</script>
