<ion-view hide-nav-bar="true">
     <ion-pane >
      <ion-header-bar class="bar-dark" style="background-color: #21D2D7;">
	    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">FEE DETAILS</h1>
      </ion-header-bar>
      <ion-content>
        <ion-list>

      <!--  <ion-item ng-repeat="item in items" 
                  item="item"
                  href="#/item/{{item.id}}"
           <h3 class="energized">#{{ item.id }} {{ item.title }}   </h3></br>
			subhect :{{ item.month }} </br>
            Batch : {{ item.status }}
        </ion-item>
      </ion-list> -->
	  
	  <ion-item ng-repeat="item in items" 
                  item="item"
                  href="#/item/{{item.id}}"
			<a href="#" class="image" style="background-color: #21D2D7;">
			<div style="color: #FFFFFF; margin-left:10px;">
			<img src="img/fee.jpg" /> 
			<type style="margin-left:15px;">{{ item.title }}</type>
			 <type style="margin-left:25px;">{{ item.month }} </type>
			 <type style="margin-left:55px; text-align:right;">{{item.status}}</type>
			 </div>
			<!--<div ng-repeat="test in current">
    <div ng-if="test.view == null">
        <i class="icon ion-checkmark"></i>
    </div>-->
</div>
        </ion-item>
	  </a>

	  <ion-item ng-repeat="item in details" 
                  item="item"
                  href="#/item/{{item.id}}"
			<a href="#" class="image" style="background-color: #FFFFFF;">
			<h3 style="text-align:left;">{{ item.title }}</h3>
			<h3 style="text-align:right;">{{ item.fee }} </h3>
        </ion-item>
	  </a>
	
      </ion-content>
    </ion-pane>
</ion-view>
