<ion-view hide-nav-bar="true" class="feedback">
     <ion-pane>
      <ion-header-bar class="bar-dark" style="background-color:#CCB14A;">
		<button class="button button-icon icon ion-navicon" menu-toggle="left"></button>      
	 <!--  <h1 class="title" style="background-color:#F2F2F2; color:#6F6F71; ">FEEDBACK</h1> -->
	 <h1 class="title">FEEDBACK</h1>
      </ion-header-bar>
      <ion-content>
	<ion-list>
	<div class="list">
            <a class="item item-avatar" ng-repeat="item in items" ng-href="#">
               <img ng-src="{{ item.picture }}" /> 
                <h3 style="padding-left:5px;">{{ item.name }}</h3>
                <h3 style="padding-top:5px; padding-left:5px;">{{ item.price }} | {{item.currency }}</h3> 
            </a>
		</div> 
</ion-list>
      </ion-content>
    </ion-pane>
</ion-view>