<ion-view hide-nav-bar="true" ng-controller="ChatController as chatCtrl">
     <ion-pane class="chatBG" >
      <ion-header-bar class="bar-balanced">
	     <button class="button-icon ion-chevron-left button-clear" ng-click="goBack()"></button>
        <h1 class="title">Chat</h1>       
      </ion-header-bar>
	 <ion-content class="padding" start-y="120">
        <ol>
			<li class="animated fadeInUp chatLineBG" 
				ng-repeat="message in chatCtrl.messages" 

				ng-class="chatCtrl.getClassforUser($index)"				
				>
        		<span ng-show="message.style"        		
				ng-style="{color:message.color,float:message.align}" >
				{{message.username === "Me" ? "" : message.username + "-"}} {{message.content}}</span > </br>
			</li>
        </ol>
      </ion-content>

      <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
      	<label class="item-input-wrapper">
        	<input type="text" placeholder="YOUR MESSAGE..." ng-enter="chatCtrl.sendMessage(false)" ng-model="chatCtrl.message" />
      	</label>
      	<button class="button button-clear ion-android-send iconsend" ng-click="chatCtrl.sendMessage(false)"></button>
      </ion-footer-bar>  
	</ion-pane>
 </ion-view>