<style>

  .pane.homeworkBG {    
      
      background: -webkit-linear-gradient(to bottom, #FFD500, #FFD500 20%, white 20%); /* Chrome 10+, Saf5.1+ */
      background:    -moz-linear-gradient(to bottom, #FFD500, #FFD500 20%, white 20%); /* FF3.6+ */
      background:     -ms-linear-gradient(to bottom, #FFD500, #FFD500 20%, white 20%); /* IE10 */
      background:      -o-linear-gradient(to bottom, #FFD500, #FFD500 20%, white 20%); /* Opera 11.10+ */
      background:         linear-gradient(to bottom, #FFD500, #FFD500 20%, white 20%); /* W3C */

    }

</style>

<ion-view hide-nav-bar="true">
     <ion-pane class="homeworkBG headerBG">
      <ion-header-bar align-title="center" class="bar-energized">
	    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">HOMEWORK</h1>

      </ion-header-bar>
      <ion-content>
        <ion-item class="item item-energized" ng-if="isTeacher()"> <!-- add ng-if=isTeacher() -->
            <a class="button button-block icon-left ion-android-add-circle button-energized" ng-click="showPopup()">ADD NEW HOMEWORK</a>
        </ion-item>
        <ion-list>

          <ion-item  class="item-divider">
              TODAY
          </ion-item >

          <ion-item ng-repeat="item in items"
                    ng-click="onFocus($index)"
                    ng-class="selectedClass($index)">

             <h3 >#{{ item.id }} {{ item.title }} </h3>
             <h5 > {{ item.subject }} | Batch : {{ item.batch }} </h5>
             <h5 class="topBottomPadding animated fadeInDown" ng-show="showDesc($index)"> {{ item.title }}  </h5>

            <ion-option-button class="button-icon icon ion-edit dark padding"
                               ng-if="isTeacher()"
                               ng-click="edit(item)">
            </ion-option-button>
            <ion-option-button class="button-icon icon ion-android-delete assertive padding"
                               ng-if="isTeacher()"
                               ng-click="delete(item)">
            </ion-option-button>

          </ion-item>

      </ion-list>
      </ion-content>
    </ion-pane>
</ion-view>


<script id="addHomework.html" type="text/ng-template">
<label class="item item-input item-select">
    <div class="input-label">
      {{"Select Class"}}
    </div>
    <select ng-model="data.classname">
      <option>Blue</option>
      <option selected>Green</option>
      <option>Red</option>
    </select>
  </label>
<div class="row">
    <div class="col">
    <ion-checkbox>A</ion-checkbox>
     </div>
     <div class="col">
     <ion-checkbox>B</ion-checkbox>
      </div>
      <div class="col">
    <ion-checkbox>C</ion-checkbox>
     </div>
</div>
<label class="item item-input">
    <textarea class="homeworkTopic" placeholder="Topic"></textarea>
  </label>
