<ion-view hide-nav-bar="true">
     <ion-pane>
      <ion-header-bar class="bar-dark">
	    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">Homework</h1>
        <button class="button icon ion-android-add positive" ng-click="addHomeworkScreen()"></button>
      </ion-header-bar>
      <ion-content>
        <ion-list>

        <ion-item ng-repeat="item in items" 
                  item="item"
                  href="#/item/{{item.id}}"
                  class="my-animation item-remove-animate">
           <h3 class="energized">#{{ item.id }} {{ item.title }} </h3>
            Subject : {{ item.subject }} </br>
            Batch : {{ item.batch }}
         
          <ion-option-button class="button-icon icon ion-edit dark padding"
                             ng-click="edit(item)">
          </ion-option-button>
          <ion-option-button class="button-icon icon ion-android-delete assertive padding"
                             ng-click="delete(item)">
          </ion-option-button>
          
        </ion-item>

      </ion-list>
      </ion-content>
    </ion-pane>
</ion-view>
