<style>
  label.loginText {
    border-style: hidden hidden solid hidden;
    border-color: black;
    margin: 0 6% 0 6%; 
  }

</style>

<ion-view hide-nav-bar="true" class="login">
    <ion-content padding="false" class="has-header">
        <form>

          <div class="list loginContainer animated bounceInDown">
            <label class="item item-input item-floating-label loginText">
              <span class="input-label positive">Username</span>
              <input type="text" placeholder="Username" ng-model="login.username">
            </label>
            <label class="item item-input item-floating-label loginText">
              <span class="input-label positive">Password</span>
              <input type="password" placeholder="Password" ng-model="login.password">
            </label>

          </div>

          <div class="col text-center animated bounceInUp _2">
                      <!--button class="button button-energized button-block  button-full" type="submit">Log in</button-->
                    <button class="button box button-positive button-small " id='boxes' ng-click="onLogin()">{{loginText}}
                    <ion-spinner id="loginSpinner" class="spinner-light"></ion-spinner>
                    </button>                    
                      <!-- a href="#/app/dashboard" >Log in</a -->
          </div>

        </form>
    </ion-content>
</ion-view>
