
<ion-view hide-nav-bar="true" class="login">
    <ion-content padding="false" class="has-header">
        <form >


            <div class="spacer" style="width: 300px; height: 230px;"></div>
        <div class="list-border">
            <ion-list >

                <label class="item item-input-inset  " name="username"  >
                  <i class="icon icon-left ion-android-person padding"></i>

                    <input type="text" class="input-text-color" placeholder="Username" >
                </label>
                <label1 class="item item-input-inset " name="password">
                      <i class="icon icon-left ion-locked padding"></i>
                    <input type="password" class="input-text-color" placeholder="Password">
                </label1>


                    </ion-list>
                  <div class="col text-center">
                      <!--button class="button button-energized button-block  button-full" type="submit">Log in</button-->
                    <button class="button box button-energized button-small  " id='boxes' ng-click="onLogin()">{{loginText}}
                    <ion-spinner id="loginSpinner" class="spinner-light ng-hide"></ion-spinner>
                    </button>
                    
                      <!-- a href="#/app/dashboard" >Log in</a -->
                  </div>

</div>

        </form>
    </ion-content>
</ion-view>
