<ion-view hide-nav-bar="true">
     <ion-pane>
      <ion-header-bar class="bar-dark">
	    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">Time Table</h1>
      </ion-header-bar>
      <ion-content scroll="false">
		    <ion-scroll zooming="false" direction="y" style="width: 100%; height: 500px" has-bouncing="true">
			<table>
			<tr ng-repeat-start="d in data">
				<td>{{d.name}}</td>
			</tr>
			<tr ng-repeat-end>
				<td>{{d.info}}</td>
			</tr>
		</table>
		</ion-scroll>	  
      </ion-content>
    </ion-pane>
</ion-view>
