m.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.leftMenu{
	background-color: #444444;
  color: #ffffff;
  border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
}

.noBorders{
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}

.height100{
  height: 25%;
  width: 25%;

}

.rightMenu{
	background-color: #387ef5;
    border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;	
}

.no-padding{
	padding: 0px;	
}

.loginBackground{
	
  background: -webkit-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #00c6ff 10%, #0072ff 90%); /* W3C */
        
}

.profileImage{
    float: center;
    border-radius: 50%;
    
}

.profileImageBG{
  padding: 25% 0% 25% 25%;
  background-color: #ffffff;
  background-image:
    linear-gradient(
      to bottom, 
      #444444,
      #444444 50%,
      #ffffff 50%,
      #ffffff 100%
    );

    /* Fallback (could use .jpg/.png alternatively) */
  background-color: #ffffff;

  /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
  background-image:
    -webkit-gradient(linear, top, bottom, from(#444444), to(#ffffff));
  
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background-image:
    -webkit-linear-gradient(top,#444444,#444444 50%,#ffffff 50%,#ffffff 100%);

  /* Firefox 3.6 - 15*/
  background-image:
    -moz-linear-gradient(top, 
      #444444,
      #444444 50%,
      #ffffff 50%,
      #ffffff 100%
    );

  /* Opera 11.1 - 12 */
  background-image:
    -o-linear-gradient(top, 
      #444444,
      #444444 50%,
      #ffffff 50%,
      #ffffff 100%
    );

  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image:
    linear-gradient(to bottom, 
      #444444,
      #444444 50%,
      #ffffff 50%,
      #ffffff 100%,
      );
      

}

.bar-header {
  top: 0;
  border-top-width: 0;
  border-bottom-width: 0px;
}

.col-15 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 15%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  max-width: 15%;
}
}