
.login{


    background: -webkit-linear-gradient(180deg, #403B4A 10%, #E7E9BB 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(180deg, #403B4A 10%, #E7E9BB 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(180deg, #403B4A 10%, #E7E9BB 90%); /* IE10 */
    background:      -o-linear-gradient(180deg, #403B4A 10%, #E7E9BB 90%); /* Opera 11.10+ */
    background:         linear-gradient(180deg, #403B4A 10%, #E7E9BB 90%); /* W3C */

  width: 100%;
  height: 100%;

  background-repeat: no-repeat;


          background-size:cover;
  background-position:center ;
}
label.item {

border-style:solid hidden hidden hidden;
}
label1.item{
  border-style: solid hidden solid hidden;
}

input.input-text-color{
  background: transparent;
      color: black;
}
.list-border{
  padding: 17px;
  width: auto;

  margin: 3%;
  }

  button:focus {
      outline: none;
  }

  button:hover {
      opacity: .8;
  }
  .box {
      border-radius:25px;
      width:100%;

      -webkit-transition: border-radius 0.5s, width 0.5s;
      margin-top: 3%;


  }

.box-change {
  width: 50px;
height: 50px;
border: none;
border-radius: 50%;
cursor: pointer;
     -webkit-animation: .3s box-change 1;
    animation: .3s box-change 1;
    -moz-animation: .3s box-change 1;
}
.box {
    border-radius:25px;
    width:100%;
    height: 50px;
    -webkit-transition: border-radius 0.5s, width 0.5s;
    margin-top: 3%;


}

.box-change {
width: 50px;
height: 50px;
border: none;
border-radius: 50%;
cursor: pointer;
   -webkit-animation: .3s box-change 1;
  animation: .3s box-change 1;
  -moz-animation: .3s box-change 1;

}

.box-animate{

  -webkit-transition-timing-function: ease-out;
 transition-timing-function: ease-out;
 -webkit-transition-duration: 0.75s;
 transition-duration: 0.75s;
 -webkit-clip-path: circle(390px at 225px 24px);
 clip-path: circle(390px at 150px 24px);

}
