
.login{



  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-color: #fff;
  background-size:cover;
  background-position:center ;
}
label.item {

border-style:solid hidden hidden hidden;
}
label1.item{
  border-style: solid hidden solid hidden;
}

input.input-text-color{
  background: transparent;
      color: black;
}
.list-border{
  padding: 17px;
  width: auto;

  margin: 3%;
  }

  button:focus {
      outline: none;
  }

  button:hover {
      opacity: .8;
  }



.box {
  display: block;
margin: 0 auto;
padding: 6px;
width: 90%;
height: 50px;
border: 2px solid #1ECD97;
border-radius: 40px;
background: transparent;
color: #1ECD97;
letter-spacing: 1px;
font-size: 13px;
-webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;


}

.box-change {
  width: 50px; /* make a circle */
    border-width: 5px;
    border-color: #ddd;
    background-color: transparent;
    color: #fff;

}

.box-animate{
  display: block;
margin: 0 auto;
padding: 0;
width: 90%;
height: 50px;
  border-color: #1ECD97;
background-color: #1ECD97;
  -webkit-transition: background-color 0.3s, width 0.3s, border-width 0.3s;
  transition: background-color 0.3s, width 0.3s, border-width 0.3s;
}






.box-change,
.box-animate {
  -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.6, 0, 0.75, 0.75), border-width 0.3s, border-color 0.3s;
  -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.6, -0.6, 0.75, 0.75), border-width 0.3s, border-color 0.3s;
  transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.6, -0.6, 0.75, 0.75), border-width 0.3s, border-color 0.3s;
}




.profileImage{
float: center;
border-radius: 50%;

margin-left: 10px;
margin-right: 10px;
margin-top: 13px;
margin-bottom: 8px;
border: 4px solid #ffffff;


}

/*.borderImage{
  border: 3px solid #ffc900;
  border-radius: 50%;
  display: inline-block

}*/

i.changeIcon.ion-alert-circled{
  font-size: 90px;
}


.spinner svg {


}

.icon-circle,.icon-circle-large{
    position: relative;
    display: inline-block;
    margin: -1px;
    /*padding: 16px;*/


    width: 45px; /* 60*/
    height: 45px;
    font-size:20px;

     -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius: 50%;





    background: rgb(0, 161, 225); /*#ececec;ebebeb*/
    color: #fff;

    text-align:center;
    /*vertical-align: middle;*/
  }

  .icon-circle{
    padding: 13px;
  }

.icon-circle-large{
  width: 60px;
  height: 60px;
  font-size: 30px; /* 64, originally 60 */
  padding: 14px;
}
.popup-buttons .button {
    /* border-radius: 2px; */

    margin-right: 0px;
  }

  .popup-container .popup {
        width: 300px;
        max-width: 100%;
        max-height: 90%;
        border-radius: 10px;

    }

.popupDetails.popup-container .popup{
  background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0.9) 10%,rgba(255, 255, 255, 0.9) 78%, #33cd5f 78%) !important; /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(180deg, rgba(255, 255, 255, 0.9) 10%, rgba(255, 255, 255, 0.9) 78%,#33cd5f 78%) !important; /* FF3.6+ */
  background:     -ms-linear-gradient(180deg, rgba(255, 255, 255, 0.9) 10%,rgba(255, 255, 255, 0.9) 78%, #33cd5f 78%) !important; /* IE10 */
  background:      -o-linear-gradient(180deg, rgba(255, 255, 255, 0.9) 10%,rgba(255, 255, 255, 0.9) 78%, #33cd5f 78%) !important; /* Opera 11.10+ */
  background:         linear-gradient(180deg, rgba(255, 255, 255, 0.9) 10%,rgba(255, 255, 255, 0.9) 78%, #33cd5f 78%) !important; /* W3C */

}
.popupHome.popup-container .popup{
  background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0.9) 10%,rgba(255, 255, 255, 0.9) 81%, #FFD500 81%) !important; /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(180deg, rgba(255, 255, 255, 0.9) 10%, rgba(255, 255, 255, 0.9) 81%,#FFD500 81%) !important; /* FF3.6+ */
  background:     -ms-linear-gradient(180deg, rgba(255, 255, 255, 0.9) 10%,rgba(255, 255, 255, 0.9) 81%, #FFD500 81%) !important; /* IE10 */
  background:      -o-linear-gradient(180deg, rgba(255, 255, 255, 0.9) 10%,rgba(255, 255, 255, 0.9) 81%, #FFD500 81%) !important; /* Opera 11.10+ */
  background:         linear-gradient(180deg, rgba(255, 255, 255, 0.9) 10%,rgba(255, 255, 255, 0.9) 81%, #FFD500 81%) !important; /* W3C */

}
  .button.button-full {
    margin-top: 10px;
     margin-bottom: 0px;

}

label.item.item-checkbox{
  background-color: transparent !important;
  padding-left:50px;
  border-style: hidden;
}
.button.button-stable.button-clear,
.button.button-clear{
  color: #fff;
  border-color:#fff;
  border-spacing: 10px;
  height: 20%;


}
.button.button-stable.button-clear{
  border-style:hidden solid hidden hidden !important;
}

.button.button-clear{
  border-style:hidden hidden hidden solid !important;
}

.popupDetails .popup-title,
.popupHome .popup-title{
display: none;

}
.popupDetails .popup-head,
.popupHome .popup-head{
  padding:5px;
}

.popupDetails .popup-buttons{
  padding-top: 18px;
}

.popupHome .popup-buttons{
  padding-top: 20px;
}

textarea{
  height: 100px;
}
