/* Empty. Add your own CSS if you like */

body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.clear-search {
  font-size: 18px;
}

.card .item{
  background: Gainsboro;
}

.phone-enter {
  opacity:0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out-cubic;
  -webkit-transition-duration: 400ms;
}
.phone-enter.phone-enter-active {
  opacity: 1;
}

.imageTimetable{
	left: 0px !important;
	top: 7% !important;
	bottom: 7% !important;
    width: 13px !important;
    height: 100% !important;
	max-height: 86% !important;
	border-radius: 0% !important;  
	 border: 0px solid !important;
}
.subjectColor0{
background-color: #ffb409;
   
}
.subjectColor1{
background-color: #58d8f1;
  
}
.subjectColor2{
background-color: #05e7bf;
  
}
.subjectColor3{
background-color: #ff7a06;
  
}
.subjectColor4{
background-color: #9eea4d;
   
}

.subjectColor5{
background-color: #ff72b9;
    
}
.subjectColor6{
background-color: #ffe343;
  
}
.subjectColor7{
background-color: #653457;
  
}


.subjectColorDefault{
background-color: #ff4a00;
  
}

.timetable1{
	margin-left: 5% !important;
	margin-top: 2% !important;
	margin-bottom: 2% !important;
}

.selectedDay {
 text-align: center;
}

.paddinLeftItem{
 padding-left : 10% !important;
}